<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Ejercicio 1</title>
  </head>
  <body>
    <h1 class="text-center mx-auto py-4 bg-dark text-light">
      Vuejs App - Api Server
    </h1>
    <p class="text-center bg-warning px-1 mx-auto w-75 h-50 py-3">
      Obtener el porcentaje de personas cuyo nombre y apellido tienen mas de 12
      caracteres.
    </p>
    <div class="text-center mx-4 px-4 border border-warning rounded">
      <div id="app" class="mx-auto px-auto">
        <ul >
          <div class=" d-inline-flex  flex-row container-fluid  img-fluid" id="principal">
            <li
              class="my-auto text-white-60 py-3 list-group"
              v-for="(datos, index) in info.data"
              :key="index"
            >
              <div class=" rounded " >

                <div class=" container  text-center align-items-center">

                <img class=" w-auto h-auto  img-fluid rounded float-right" v-bind:src="datos.avatar" />

                <p v-text="datos.first_name + esp + datos.last_name"></p>
                </div>
                <h3
                  v-if="(datos.first_name.length + datos.last_name.length) > 12"
                >
                  {{ notificePorcentaje(datos.first_name.length +
                  datos.last_name.length) }}
                </h3>
              </div>
            </li>
          </div>
        </ul>
        <button   class="my-3  py-2 btn btn-outline-dark"  @click="showPorcentaje()">Porcentaje</button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vue.js"></script>
  </body>
</html>
